 
 body{
    background-color: black;
 }
.student-1{

    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: yellow;
    border: 2px solid hsl(60, 100%, 50%);
    border-radius: 2rem;
    margin-bottom: 2rem;
    padding-left: 3rem;
    display: grid;
    justify-items: center;
    align-content: center;

}
