.btn{
    color: rgb(0, 0, 0);
    background-color: yellow;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: grid;
    align-items: center;
    align-content: center;
    cursor: pointer;

}

.btn:hover{
     background-color: green; /* New background color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow */
}
