body{
    background-color: black;
    color: yellow;
    padding: 25px;
    margin: 25px
}

.input1{
    padding: 5px;
    border-radius: 10px;
    padding-left: 20px;
    color:rgb(0, 0, 0)
    
}

       
.Btn1{
    border-radius: 8px;
    color: black;
    background-color: yellow;
}